.nav-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1rem 2rem;
    box-shadow: 0px 2px 15px 3px rgb(0 0 0 / 5%);

    .button-group-wrapper {
        display: flex;
        gap: 10px;
    }

    .search-input-wrapper {
        display: flex;
        gap: 10px;
        padding: 5px 15px;
        align-items: center;
        border: 1px solid black;
        border-radius: 5px;


        input:focus {
            outline: none;
        }

        .nav-search-input-custom-style {
            border: none;
        }
    }

    .search-input-focus {
        border: 1px solid black;
        border-radius: 5px;
    }
}

.user-form-modal-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.user-action-close-icon-styles {
    // display: flex;
    // align-items: center;
    // justify-content: flex-end !important;
    cursor: pointer;
}

.user-modal-input-style {
    padding: 10px 10px;
    border-radius: 8px;
}

.user-action-top-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user-action-Button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.btn-custm-style {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-action-wrapper{
margin-top: 10px;
display: flex;
align-items: center;
gap: 5px;
}

.action{
    cursor: pointer;
    color: blue;
}